HF_TOKEN=key
GEMINI_API_KEY=AIzaSyCIlnCK_KnO79FrGwZb2gpKBxk6YwmSUxU
GROQ_API_KEY=key
GEMINI_MODEL=gemini-2.0-pro
GROQ_MODEL=llama-3.3-70b-versatile
HF_MODEL=paraphrase-multilingual-MiniLM-L12-v2
CHROMA_PERSIST_DIR=./chroma_db
CHROMA_COLLECTION_NAME=GSM_Collection
DATA_DIR=./data
LOG_LEVEL=INFO
GROQ_MODEL_2=openai/gpt-oss-120b
NVIDIA_API_KEY=key
NVIDIA_MODEL=gpt-4-32k-0613
NVIDIA_API_KEY_2=key
NVIDIA_MODEL_2=google/gemma-3-27b-it